<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile-page.css" type="text/css">
    <title>Perfil</title>
</head>
<body>
  <div class="profile">
    <img class="profile-picture" src="https://cdn-icons-png.flaticon.com/512/3176/3176151.png" alt="Profile Picture">
    <div class="profile-details">
      <h1>Placeholder</h1>
      <p>Placeholder</p>
      <p>placeholder</p>
      <p>placeholder</p>
    </div>
  </div>

  <a href="/index"> Retornar para a home </a>
</body>
</html>